{% extends "_base.html" %}

{% block content %}
	<div class="grid grid-cols-3">
		<div class="col-span-2 h-50">
			<h1>Carrito de compras</h1>
			{% if not carrito %}
				El carrito esta pelao
			{% else %}
				<table class="table">
					<thead>
					  <tr>
						<th>Producto</th>
						<th>Precio</th>
						<th>Cantidad</th>
						<th>Total</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						{% for item in carrito %}
							<td>
								<div class="flex gap-6 w-[500px]">
									<img class="p-4 w-32 h-32 rounded-xl bg-white object-contain" 
										src="{{item.producto.imagen.url}}" alt="{{item.producto.nombre}}">
									<p class="text-lg font-semibold">{{item.producto.nombre}}</p><br>
								</div>
							</td>
							<td>${{item.producto.precio}}</td>
							<td><input type="number" class="input input-bordered w-[60px]"
								value="{{item.cantidad}}" min="1" max="{{item.producto.stock}}"></td>
							<td></td>
						</tr>
					  {% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
		<div class=" h-50">
			<h1>Total $99999</h1>
			<button class="btn">Pagar</button>
		</div>
	</div>

{% endblock content %}